@import url(../style.css);

/*BACKGROUND */
body {
    background-image: url(../images/game-stage.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

/*BUTTONSS*/
#exit {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-top: 0px;
    border-left: 0px;
    width: fit-content;
    height: fit-content;
    border-radius: 0px 0px 20px 0px;
    overflow: hidden;
    z-index: 4;
}

#exit img {
    width: 50px;
    margin: 10px;
}

#level-menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    border-top: 0px;
    border-left: 0px;
    width: fit-content;
    height: fit-content;
    border-radius: 0px 0px 0px 20px;
    overflow: hidden;
    z-index: 3;
    cursor: pointer;
}

#level-menu img {
    width: 50px;
    margin: 10px;
}

/*////////////////GAME////////////////*/

/*LEVELS TABLE*/
#money-lvls {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 360px;
    background-image: linear-gradient(to right, #834d9b 0%, #d04ed6 51%, #834d9b 100%);
    background-size: 200% auto;
    box-shadow: 0 0 10px #eee;
    border-radius: 0px 0px 0px 20px;
}


#money-lvls div {
    display: flex;
    align-items: center;
    width: 150px;
    background-color: #A770EF;
    margin: 1px 0px;
    border-radius: 10px;
    justify-content: space-between;
}

.cur-level {
    background-image: linear-gradient(to right, #fad168 0%, #f8b500 51%, #ffdc85 100%);
}

#money-lvls div h4 {
    margin: 0px 10px;
    margin-right: 0px;
    color: white;
    width: 20px;
    text-align: right;
    font-size: 18px;
}

#money-lvls div h3 {
    margin: 0px 10px;
    color: white;
    width: 130px;
    text-align: left;
    font-size: 16px;
}

#next-question {
    position: absolute;
    top: 22vh;
    left: 50%;
    right: 50%;
    width: 200px;
    height: 100px;
    margin-left: -100px;
    color: white;
    font-weight: 1000;
    font-size: 30px;
}

#lose {
    position: absolute;
    top: 22vh;
    left: 50%;
    right: 50%;
    margin-left: -110px;
    width: 220px;
    height: 100px;
    color: white;
    font-weight: 1000;
    font-size: 27px;
    text-decoration: none;
}

#lose span {
    background-color: purple;
    padding: 0px 12px;
    border-radius: 10px;
}

#game-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#start-game {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 40vh;
    align-items: center;
    justify-content: center;
}

#player {
    height: 50px;
    margin-bottom: 20px;
    background-color: purple;
    border: 0px;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 22px;
    font-weight: 1000;
}

#play {
    width: 175px;
    height: 75px;
    color: white;
    font-weight: 1000;
    font-size: 30px;
}

.timer {
    position: absolute;
    top: -7.3vh;
    left: 46.695%;
    padding: 5px;
    background-image: linear-gradient(to right, #834d9b 0%, #d04ed6 51%, #834d9b 100%);
    width: 100px;
    height: 100px;
    font-weight: 800;
    font-size: 30px;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 10px #eee;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: 3;
}

/*QUESTION*/
.question-game {
    position: relative;
    width: 900px;
    height: 100px;
    padding: 0px 40px;
    background-image: url(../images/question-question.png);
    background-size: 100% 100%;
    top: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

ul {
    padding: 0px;
}

.question-game h2 {
    font-size: 20px;
    text-align: center;
}

.background-bar {
    position: absolute;
    height: 5px;
    width: 2000px;
    left: -70%;
    top: 48%;
    z-index: -1;
}

.answer .background-bar {
    top: 46.5%;
}

.questions-all {
    position: relative;
    top: 55vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.answer-pair {
    display: flex;
    flex-wrap: wrap;
}

.answer {
    position: relative;
    width: 500px;
    height: 75px;
    background-image: url(../images/answer.png);
    background-size: 100% 100%;
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: color .5s;
}

.answer img {
    margin-left: 20px;
}

.answer h3 {
    color: #eca602;
    height: fit-content;
    margin: 0px 20px 2px 8px;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.nocolor {
    color: transparent;
}

#helps {
    display: none;
    position: absolute;
    top: 38vh;
    left: 20%;
}

#helps button {
    background-image: linear-gradient(to right, #834d9b 0%, #d04ed6 51%, #834d9b 100%);
    background-size: 200% auto;
    width: 125px;
    height: 75px;
    border-radius: 70%;
    border: 0px;
    box-shadow: 0 0 10px #eee;
    transition: 0.5s;

    &:hover {
        background-position: center;
    }
}

#helpPhone {
    height: 50px;
}

#help50 {
    height: 50px;
}

.used {
    opacity: 0.75;
}

.answer:hover {
    background-image: url(../images/answer-hover.png);
}

.answer-correct {
    background-image: url(../images/answer-correct.png);

    &:hover {
        background-image: url(../images/answer-correct.png);
    }
}

.answer-wrong {
    background-image: url(../images/answer-wrong.png);

    &:hover {
        background-image: url(../images/answer-wrong.png);
    }
}

.answer-selected {
    background-image: url(../images/answer-selected.png);

    &:hover {
        background-image: url(../images/answer-selected.png);
    }
}

.answer-dnf {
    background-image: url(../images/answer.png);
    opacity: 1;
    color: transparent;

    &:hover {
        background-image: url(../images/answer.png);
    }
}

@media screen and (max-width: 1050px) {

    .question-game {
        width: 600px;
        height: 75px;
    }

    .question-game h2 {
        font-size: 15px;
    }

    .answer {
        width: 335px;
        height: 60px;
    }

    .answer h3 {
        font-size: 15px;
    }

    .answer h4 {
        font-size: 15px;
    }

    #helps {
        top: 42vh;
    }

    #helps button img {
        height: 30px;
    }

    #helps button {
        height: 50px;
        width: 75px;
    }

}

@media screen and (max-width: 715px) {

    #next-question {
        top: 10vh;
    }

    #lose {
        top: 10vh;
    }

    .questions-all {
        flex-direction: column;
        top: 40vh;
    }

    .question-game {
        width: 400px;
        top: 37vh;
    }

    .question-game h2 {
        font-size: 13px;
    }

    .answer {
        margin: 5px;
    }

    #level-menu {
        display: block;
        z-index: 4;
    }

    #money-lvls {
        right: -250px;
        z-index: 3;
    }

    #helps {
        top: 30vh;
        left: 10%;
    }

    .timer {
        left: 42%;
    }

}

@media screen and (max-width: 500px) {

    .timer {
        left: 39%;
    }

}